/***************************
****************************
Imports
****************************
***************************/
@import "includes/fonts";
@import "includes/helpers";
@import "includes/buttons";
@import "includes/responsive";
@import "includes/navigation";
@import "includes/header";
@import "includes/footer";
@import "includes/sidebar";
@import "includes/home";
@import "includes/form";
@import "includes/contact";
@import "includes/news";
@import "includes/product";

/***************************
****************************
General Styles
****************************
***************************/

body {
  color: $main-color;
  @include lucida;
  @include font-settings-1;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima_nova_semibold';
  margin-top: 0;
  line-height: normal;
}

a {
  color: $product-btn-color;

  &:link
  &:visited,
  &:hover,
  &:active,
  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    color: $product-btn-color-hover;
  }
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -107px;

  @media #{$xs} {
    margin-bottom: -250px;
  }

  &:after {
    content: "";
    display: block;
    height: 107px;

    @media #{$xs} {
      height: 250px;
    }
  }
}

.logo {
  margin: 0;

  a {
    background: url("../images/logo.png") no-repeat 0 0;
    display: block;
    text-indent: -9999px;
    width: 188px;
    height: 31px;
  }

  &.gray {
    a {
      background: url("../images/logo-gray.png") no-repeat 0 0;
      width: 158px;
      height: 25px;
    }
  }

  &.xubliminal {
    a {
      background: url("../images/logo-xub.png") no-repeat 0 0;
      width: 97px;
      height: 18px;
    }
  }

  &.white {
    a {
      background: url("../images/logo-white.png") no-repeat 0 0;
    }
  }
}

.content {
  @include site-padding;
  @include font-settings-3;
}

.site-title {
  background: url("../images/sep-3.png") repeat-x 0 50%;
  text-transform: uppercase;
  margin-bottom: 35px;
  overflow: hidden;
  color: $main-color;

  span {
    background-color: white;
    display: block;
    height: 100%;
    padding-right: 18px;
    float: left;
  }
}

.site-title-line {
  background: url("../images/sep-4.png") no-repeat 0 100%;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.site-title-line-big {
  @include lucida;
  color: white;
  font-size: 29px;
  margin-bottom: 25px;
  background: url("../images/sep-6.png") no-repeat 50% 100%;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.site-title-line-secondary {
  color: $nav-color;
  font-size: 17px;
  margin-bottom: 25px;
  background: url("../images/sep-4.png") no-repeat 0 100%;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.content-section {
  border-bottom: 1px solid $content-section-border;
  padding-bottom: 30px;
  margin-bottom: 30px;

  &:last-of-type {
    @include reset-last;
  }

  .site-title-line {
    margin-bottom: 30px;
  }

  .site-subtitle {
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 0;
  }

  > p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .customers-grid {
    margin-top: 30px;
  }

  > .detail {
    line-height: normal;
    margin-bottom: 15px;

    h6 {
      margin-bottom: 0;
    }
  }

  &.text-wrapper {
    p {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    ul {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

h5,
.site-subtitle {
  text-transform: uppercase;
  color: $nav-color;
}

.double-items {
  .item {
    float: left;
    width: 50%;

    @media #{$xs} {
      float: none;
      width: auto;
      margin-bottom: 35px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &.responsive {
    .item {
      @media #{$small} {
        float: none;
        width: auto;
        margin-bottom: 35px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.detail {
  line-height: normal;
  margin-bottom: 35px;
  position: relative;

  &:last-of-type {
    @include reset-last;
  }

  > * {
    margin: 0;
  }

  .ej-icon {
    @include make-icon(32px, $footer-color, $footer-font-color);
    position: absolute;
    top: 0;
    left: 0;

    .fa {
      font-size: 16px;
      margin-top: 8px;
    }
  }

  a {

  }

  a {
    color: $nav-color;
    text-decoration: underline;

    &:hover {
      color: $nav-color-hover;
    }
  }

  h6 {
    @include small-title;
    font-size: 13px;
    margin-bottom: 8px;

    @media #{$small} {
      margin-bottom: 0;
    }
  }

  p {
    @include font-settings-4;
  }

  &.has-icon {
    padding-left: 45px;

    h6 {
      margin-bottom: 4px;
    }
  }
}

.date {
  color: $date-color;
  font-size: 11px;
}

.version-item {
  line-height: 18px;
  min-height: 48px;

  &:last-of-type {
    .text-wrapper {
      @include reset-last;
    }
  }

  .img-wrapper {
    width: 48px;
    text-align: center;
    margin-right: 17px;
    float: left;
  }

  .text-wrapper {
    float: left;
    width: calc(100% - 65px);
    border-bottom: 1px solid $sidebar-border;
    padding-bottom: 14px;
    color: $sidebar-border;

    > .date {
      display: block;
    }

    h6 {
      @include small-title;
      margin: 0;
    }

    a {
      font-size: 12px;
    }
  }
}

.customers-grid {
  > div {
    float: left;
    width: calc(100% / 3);
    text-align: center;
    height: 140px;
    line-height: 138px;
    border-bottom: 1px solid $sidebar-border;
    border-right: 1px solid $sidebar-border;

    @media #{$xs} {
      width: 50%;

      &:last-child {
        display: none;
      }
    }

    &:nth-last-child(-n+3) {
      border-bottom: none;
    }

    &:nth-child(3n) {
      border-right: none;

      @media #{$xs} {
        border-right: 1px solid $sidebar-border;
      }
    }

    &:nth-child(2n) {
      @media #{$xs} {
        border-right: none;
      }
    }

    img {
      max-width: 100%;

      @media #{$small} {
        max-width: 60%;
      }

      @media #{$xs} {
        max-width: 70%;
      }
    }
  }
}

.ribbon {
  font-family: 'proxima_nova_semibold';
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  height: 33px;
  line-height: 33px;
  display: inline-block;
  position: relative;

  > span {
    padding-left: 22px;
    background: url("../images/ribbon.png") no-repeat 0 0;
    display: block;

    & + span {
      background: url("../images/ribbon-right.png") no-repeat 100% 0;
      position: absolute;
      height: 33px;
      width: 22px;
      top: 0;
      right: -22px;
    }
  }
}

.action-links {
  ul {
    margin: 0;

    li {
      margin-bottom: 17px;

      @media #{$xs} {
        margin-bottom: 0;
        float: left;
        width: calc(100% / 3);
        text-align: center;
        border-right: 1px solid $content-section-border;
      }

      &:last-of-type {
        margin-bottom: 0;
        border-right: none;
      }

      a {
        color: $btn-secondary;
        display: block;

        &:hover {
          color: $btn-secondary-hover;
        }

        > * {
          float: left;

          @media #{$xs} {
            float: none;
            width: auto;
            margin: 0;
          }
        }

        > span {
          @include icon-bordered(36px, white, $btn-secondary, 2px);
          margin-right: 14px;

          .fa {
            vertical-align: middle;
            font-size: 18px;
            margin-top: -5px;
          }

          @media #{$xs} {
            margin: 0;
          }
        }

        > div {
          font-family: 'proxima_nova_semibold';
          width: calc(100% - 50px);
          line-height: 36px;
          text-transform: uppercase;
          font-size: 15px;
          padding-bottom: 18px;
          border-bottom: 1px solid $content-section-border;

          @media #{$xs} {
            @include reset-last;
            width: auto;
          }
        }
      }

      &:nth-child(2) {
        a {
          color: $download-link;

          &:hover {
            color: $download-link-hover;
          }

          > span {
            color: $download-link;
            border-color: $download-link;
          }
        }
      }

      &:nth-child(3) {
        a {
          color: $product-btn-color;

          &:hover {
            color: $product-btn-color-hover;
          }

          > span {
            color: $product-btn-color;
            border-color: $product-btn-color;
          }

          > div {
            @include reset-last;
          }
        }
      }
    }
  }
}

/***************************
****************************
Pagination Classes
****************************
***************************/

.ej-pagination {
  font-family: 'proxima_nova_semibold';

  > ul {
    margin: 0;
    float: left;

    li {
      float: left;
      margin: 0 4px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      &.active {
        a,
        span {
          background-color: $pagination-color;
          color: white;

          &:hover {
            background-color: $pagination-color;
            color: white;
          }
        }
      }

      @media #{$xs} {
        display: none;

        &:first-of-type {
          display: block;
        }

        &:last-of-type {
          display: block;
        }
      }

      a,
      span {
        @include make-icon(34px, white, $product-btn-color);
        border: 1px solid $pagination-color;

        &:hover {
          background-color: $pagination-color-hover;
        }
      }

      span {
        border-color: white;
        color: $pagination-color;
        font-size: 20px;

        &:hover {
          border-color: white;
          color: $pagination-color;
          background-color: white;
        }
      }
    }
  }

  > a {
    text-transform: uppercase;
    float: right;
    line-height: 34px;
  }
}

/***************************
****************************
Helper Classes
****************************
***************************/

.right-bordered {
  border-right: 1px solid $sidebar-border;
}

.border-top-xs {
  @media #{$xs} {
    border-top: 1px solid $nav-color;
  }
}

.left-bordered {
  border-left: 1px solid $sidebar-border;
}

.site-padding {
  @include site-padding;
}

.site-padding-top {
  @include site-padding-top;
}

.site-padding-right {
  @include site-padding-right;
}

.site-padding-bottom {
  @include site-padding-bottom;
}

.site-padding-left {
  @include site-padding-left;
}