/***************************
****************************
Links
****************************
***************************/

.ej-btn {
  font-family: 'proxima_nova_semibold';
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border-radius: 25px;
  padding: 0 17px;
  line-height: 31px;
  font-size: 13px;
  border: none;

  &:hover {
    color: white;
  }

  &.btn-primary {
    background-color: $nav-color;

    &:hover {
      background-color: $btn-primary-hover;
    }
  }

  &.btn-submit {
    background-color: $product-btn-color;

    &:hover {
      background-color: $product-btn-color-hover;
    }
  }
}

.ej-link {
  font-family: 'proxima_nova_semibold';
  text-transform: uppercase;
  font-size: 12px;

  &.link-1 {
    color: $nav-color;

    &:hover {
      color: $nav-color-hover;
    }
  }
}