/***************************
****************************
Links
****************************
***************************/

.ej-link {
  font-family: 'proxima_nova_semibold';
  text-transform: uppercase;
  font-size: 12px;

  &.link-1 {
    color: $nav-color;

    &:hover {
      color: $nav-color-hover;
    }
  }
}