/***************************
****************************
Links
****************************
***************************/

.ej-btn {
  @include proxima;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  border-radius: 25px;
  padding: 0 17px;
  line-height: 31px;
  font-size: 13px;
  border: none;

  &.larger {
    line-height: 49px;
    padding: 0 26px;
    font-size: 15px;

    .fa {
      font-size: 25px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &:hover {
    color: white;
  }

  &.btn-primary {
    background-color: $nav-color;

    &:hover,
    &.active {
      background-color: $btn-primary-hover;
    }
  }

  &.btn-submit-transparent {
    background-color: white;
    border: 1px solid $product-btn-color;
    color: $product-btn-color;

    &:hover,
    &.active {
      background-color: $product-btn-color;
      color: white;
    }
  }

  &.btn-submit {
    background-color: $product-btn-color;
    border: 1px solid $product-btn-color;

    &:hover,
    &.active {
      background-color: white;
      color: $product-btn-color;
    }
  }

  &.btn-secondary {
    background-color: white;
    color: $btn-secondary;

    &:hover,
    &.active {
      background-color: $btn-secondary;
      color: white;
    }
  }

  &.btn-support {
    background-color: white;
    border: 1px solid $support-button;
    color: $support-button;

    &:hover,
    &.active {
      background-color: $support-button;
      color: white;
    }
  }

  &.btn-order {
    background-color: transparent;
    color: white;
    border: 2px solid white;

    &:hover,
    &.active {
      background-color: white;
      color: $product-btn-color;
    }
  }
}

.ej-link {
  @include proxima;
  text-transform: uppercase;
  font-size: 12px;

  &.link-1 {
    color: $nav-color;

    &:hover {
      color: $nav-color-hover;
    }
  }

  &.link-2 {
    color: $product-btn-color;
    font-size: 13px;

    &:hover {
      color: $product-btn-color-hover;
    }
  }
}