.contact-page {
  .detail {
    a {
      color: $product-btn-color;
      text-decoration: none;

      &:hover {
        color: $product-btn-color-hover;
      }
    }
  }

  .contact-form {
    textarea {
      height: 214px;
    }

    .btn-submit,
    p {
      margin-top: 20px;
    }

    .btn-submit {
      @media #{$xs} {
        width: 100%;
      }
    }
  }
}