/***************************
****************************
Download Page
****************************
***************************/

.download-download-page,
.download-trial-page,
.download-change-log-page {
  .content-section {
    &:first-child {
      margin-bottom: 0;
      padding-bottom: 20px;
      border: none;
    }
  }
}

.download-section {
  .download-selector {
    margin-bottom: 21px;

    .version-meta {
      float: left;

      @media #{$xs} {
        border-top: 1px solid $content-section-border;
        float: none;
        padding-top: 20px;
      }

      .site-subtitle {
        margin: 0;
      }
    }

    .selector {
      float: right;
      padding-bottom: 20px;

      @media #{$xs} {
        float: none;
      }
    }
  }
}

.download-items {
  .download-item {
    padding: 15px 0;
    border-bottom: 1px solid $content-section-border;

    &:last-of-type {
      @include reset-last;
    }

    > div {
      float: left;

      &.icon-wrapper {
        width: 57px;

        span {
          color: $footer-font-color;
          font-size: 40px;
        }
      }

      &.text-wrapper {
        position: relative;
        width: calc(100% - 57px);

        .site-subtitle {
          margin-bottom: 15px;
        }

        p {
          @include font-settings-1;
        }

        .ej-btn {
          bottom: 25px;
          position: absolute;
          right: 0;

          @media #{$small, $xs} {
            position: static;
            bottom: auto;
            right: auto;
            margin-top: 20px;
          }
        }
      }
    }

    &.yours {
      padding: 26px;
      background-color: $yours-color;
      border-color: $yours-color;
      margin-bottom: 27px;

      > div {
        &.icon-wrapper {
          width: 78px;

          span {
            font-size: 50px;
            color: black;
          }
        }

        &.text-wrapper {
          width: calc(100% - 78px);
          min-height: 49px;

          .ej-btn {
            bottom: 50%;
            margin-bottom: -24px;

            @media #{$small, $xs} {
              position: static;
              bottom: auto;
              right: auto;
              margin-top: 20px;
              margin-bottom: 0;
              font-size: 14px;
            }
          }
        }
      }

      & + .download-item {
        border-top: 1px solid $content-section-border;
      }
    }
  }
}

.download-change-log-page {
  .content-section {
    &:first-child {
      .title {
        margin-bottom: 0;
      }
    }
  }
}

.change-log-section {
  .title {
    background: url("../images/sep-7.png") no-repeat 0% 100%;
    padding-bottom: 16px;
    margin-bottom: 16px;

    > div {
      float: left;

      h5 {
        margin-bottom: 0;
      }
    }

    > .ej-btn {
      float: right;
    }
  }

  p,
  ul {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.content-section {
  .change-log-section {
    p,
    ul {
      margin-bottom: 20px;
      line-height: 21px;

      li {
        line-height: 21px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}