/***************************
****************************
Fonts
****************************
***************************/

@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/proximanova-sbold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
  url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
  url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?4pjks7');
  src: url('../fonts/icomoon.eot?#iefix4pjks7') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?4pjks7') format('truetype'),
  url('../fonts/icomoon.woff?4pjks7') format('woff'),
  url('../fonts/icomoon.svg?4pjks7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e600";
}

.icon-see_more:before {
  content: "\e601";
}

/***************************
****************************
Fonts Mixins
****************************
***************************/

@mixin font-settings-1 {
  font-size: 12px;
  line-height: 18px;
}

@mixin font-settings-2 {
  font-size: 15px;
  line-height: 22px;
}

@mixin small-title {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
  font-weight: bold;
}