/***************************
****************************
Footer Styles
****************************
***************************/

.footer {
  background-color: $footer-color;
  font-size: 11px;
  color: $footer-font-color;
  overflow: hidden;

  .top {
    padding: 20px 0;
    border-bottom: 1px solid $footer-border;

    .logo {
      float: left;

      @media #{$xs} {
        float: none;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $footer-border;
        text-align: center;

        a {
          margin: 0 auto;
        }
      }
    }

    .footer-menu {
      float: right;

      @media #{$xs} {
        float: none;
        text-align: center;
      }
    }
  }

  .bottom {
    padding: 11px 0;
    line-height: 18px;

    @media #{$xs} {
      padding: 20px 0;
    }

    .copy {
      float: left;

      @media #{$xs} {
        float: none;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $footer-border;
        text-align: center;
      }
    }

    .designed-by {
      float: right;

      @media #{$xs} {
        float: none;
        width: 175px;
        margin: 0 auto;
      }

      span {
        float: left;
        margin-right: 10px;
      }

      .logo {
        float: left;
      }
    }
  }
}

.footer-menu {
  > * {
    line-height: 25px;
    display: inline-block;
  }

  a {
    color: $nav-color;
    text-transform: uppercase;

    &:hover {
      color: $nav-color-hover;
    }
  }

  span {
    color: $footer-bull;
    margin: 0 15px;
  }
}