/***************************
****************************
Colors
****************************
***************************/

$side-padding: 45px;

$main-color: #303030;
$nav-color: #0993e2;
$nav-color-hover: #097abb;

$product-btn-border: #84c7ff;
$product-btn-color: #23cf3b;
$product-btn-color-hover: #1fb434;
$date-color: #898989;

$footer-color: #eef3f5;
$footer-border: #e3e8ea;
$footer-bull: #c7c8c9;
$footer-font-color: #9ba4a8;

$sidebar-border: #e5e5e5;

$pagination-border: #bbbbbb;

$btn-primary: #0988d1;
$btn-primary-hover: #085c8c;

$btn-secondary: #f26c4f;
$btn-secondary-hover: #c45841;

$content-section-border: #f0f0f0;

$form-control-border: #c8c8c8;

$pagination-color: #c5c7c7;
$pagination-color-hover: #f1f1f1;

$rss-links: #636363;
$rss-links-hover: #4a4949;

$header-border: #3aa9e8;

$download-link: #1cbbb4;
$download-link-hover: #19a19b;

$product-pagination: #184583;

$news-section: #f6fafb;

/***************************
****************************
Mixins
****************************
***************************/

@mixin icon-bordered($size, $bg-color, $border-color, $border-size) {
  height: $size;
  width: $size;
  text-align: center;
  display: inline-block;
  border: $border-size solid $border-color;
  background-color: $bg-color;
  border-radius: 100%;
  line-height: $size;
}

@mixin make-icon($size, $bg-color, $color) {
  height: $size;
  width: $size;
  text-align: center;
  display: inline-block;
  background-color: $bg-color;
  border-radius: 100%;
  color: $color;
  line-height: $size;
}

@mixin site-padding {
  padding: $side-padding 0;
}

@mixin site-padding-top {
  padding-top: $side-padding;
}

@mixin site-padding-right {
  padding-right: $side-padding;

  @media #{$medium} {
    padding-right: 20px;
  }

  @media #{$small, $xs} {
    padding-right: 0;
  }
}

@mixin site-padding-bottom {
  padding-bottom: $side-padding;
}

@mixin site-padding-left {
  padding-left: $side-padding;

  @media #{$medium} {
    padding-left: 20px;
  }

  @media #{$small, $xs} {
    padding-left: 0;
  }
}

@mixin reset-last {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}