/***************************
****************************
Colors
****************************
***************************/

$main-color: #303030;
$nav-color: #0993e2;
$nav-color-hover: #097abb;

$product-btn-border: #84c7ff;
$product-btn-color: #23cf3b;
$date-color: #898989;

$footer-color: #eef3f5;
$footer-border: #e3e8ea;
$footer-bull: #c7c8c9;
$footer-font-color: #9ba4a8;

$sidebar-border: #e5e5e5;

$pagination-border: #bbbbbb;

/***************************
****************************
Mixins
****************************
***************************/

@mixin icon-bordered($size, $bg-color, $border-color, $border-size) {
  height: $size;
  width: $size;
  text-align: center;
  display: inline-block;
  border: $border-size solid $border-color;
  background-color: $bg-color;
  border-radius: 100%;
}