/***************************
****************************
Navigation Styles
****************************
***************************/

$nav-height: 79px;
$nav-line-height: 73px;

@mixin nav-font-settings {
  display: block;
  padding: 0 17px;
  color: $main-color;
  font-size: 13px;
  cursor: pointer;
}

@mixin nav-font-settings-mobile {
  display: block;
  font-size: 17px;
  color: white;
  text-transform: uppercase;
  line-height: 55px;
  cursor: pointer;
}

.navigation {
  height: $nav-height;
  background-color: white;

  .logo {
    float: left;
    margin-top: 24px;
  }

  .main-navigation {
    float: right;
    margin: 0;
  }

  .menu-toggler {
    float: right;
    height: $nav-height;
    line-height: $nav-height;
  }
}

.main-navigation {
  > li {
    float: left;
    position: relative;

    > a,
    > span {
      @include nav-font-settings;
      border-top: 6px solid white;
      @include proxima;
      height: $nav-height;
      line-height: $nav-line-height;
      text-transform: uppercase;
      cursor: pointer;

      .fa {
        font-size: 12px;
      }

      .fa-caret-up {
        display: inline-block;
      }

      .fa-caret-down {
        display: none;
      }

      &.collapsed {
        .fa-caret-up {
          display: none;
        }

        .fa-caret-down {
          display: inline-block;
        }
      }

      &:hover {
        color: $nav-color;
      }
    }

    &.active {
      a,
      span {
        border-top-color: $nav-color;
        color: $nav-color;
      }
    }

    .toggler {
      color: $nav-color;

      &.collapsed {
        color: $main-color;
      }
    }

    &:hover .sub-menu {
      display: block;
    }
  }

  .sub-menu {
    background-color: white;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 79px;
    z-index: 10;

    &.display {
      display: block;
    }

    li {
      a {
        @include nav-font-settings;
        height: 38px;
        line-height: 38px;

        &:hover {
          background-color: $nav-color;
          color: white;
        }
      }
    }
  }
}

.menu-toggler {
  cursor: pointer;
  font-size: 25px;
  color: $nav-color;
  background: none;
  border: none;
  padding: 0;

  &:hover {
    color: $nav-color-hover;
  }

  &.rounded {
    @include make-icon(31px, $btn-primary-hover, white);
    font-size: 20px;

    &.show-xs {
      display: none;

      @media #{$xs} {
        display: block;
      }
    }
  }

  &.caret {
    .fa {
      vertical-align: middle;
    }

    .fa-caret-up {
      display: inline-block;
      margin-top: -8px;
    }

    .fa-caret-down {
      display: none;
      margin-top: -2px;
    }

    &.collapsed {
      .fa-caret-up {
        display: none;
      }

      .fa-caret-down {
        display: inline-block;
      }
    }
  }
}

.nav-mobile {
  .nav-mobile-header {
    height: $nav-height;
    margin-bottom: 35px;

    .logo {
      margin-top: 24px;
      float: left;
    }

    .back {
      height: $nav-height;
      line-height: $nav-height;
      float: right;
      color: white;
      cursor: pointer;
      font-size: 23px;
    }
  }

  .nav-mobile-menu {
    margin: 0;
    text-align: center;

    > li {
      > a,
      > span {
        @include nav-font-settings-mobile;
        cursor: pointer;

        .fa-caret-up {
          display: inline-block;
        }

        .fa-caret-down {
          display: none;
        }

        &.collapsed {
          .fa-caret-up {
            display: none;
          }

          .fa-caret-down {
            display: inline-block;
          }
        }
      }
    }
  }

  .sub-menu {
    li {
      a {
        @include nav-font-settings-mobile;
        text-transform: none;
      }
    }
  }
}

.modal-menu {
  .modal-dialog {
    width: 100%;
    margin: 0;
  }
}

.modal-backdrop {
  background-color: $nav-color;

  &.in {
    opacity: 0.95;
  }
}

.sub-nav {
  margin: 0;

  li {
    float: left;
    margin: 0 5px;

    @media #{$xs} {
      float: none;
      margin: 0;
      border-bottom: 1px solid $btn-primary;
    }

    @media #{$small} {
      margin: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    .ej-btn {
      @media #{$xs} {
        padding: 0 15px;
        display: block;
        border-radius: 0;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
      }

      @media #{$small} {
        padding: 0 14px;
      }

      &:hover {
        @media #{$xs} {
          background-color: $btn-primary;
        }
      }

      span {
        display: none;
      }
    }

    &.active {
      .ej-btn {
        background-color: $btn-primary-hover;

        @media #{$xs} {
          background-color: $nav-color;

          span {
            display: inline-block;
          }
        }

        &:hover {
          @media #{$xs} {
            background-color: $btn-primary;
          }
        }
      }
    }
  }

  @media #{$xs} {
    border-top: 1px solid white;
    background-color: $nav-color;
    z-index: 10;
  }
}