.news-all-page {
  .ej-pagination {
    margin-top: 20px;
  }
}

.news-item {

  > * {
    float: left;

    @media #{$xs} {
      float: none;
    }
  }

  .meta {
    width: 155px;
    padding-right: 35px;

    @media #{$small} {
      width: 125px;
      padding-right: 20px;
    }

    @media #{$xs} {
      padding: 0;
      width: auto;
      margin-bottom: 20px;
    }

    h6 {
      @include small-title;
      font-size: 13px;
      margin-bottom: 10px;
    }

    .date {
      font-size: 12px;
    }
  }

  .news {
    width: calc(100% - 155px);

    @media #{$small} {
      width: calc(100% - 125px);
    }

    @media #{$xs} {
      width: auto;
    }

    ul {
      padding: 0;

      li {
        list-style-position: inside;
        margin: 0;
      }
    }

    > * {
      margin-bottom: 20px !important;

      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

.get-notified-item {
  > * {
    float: left;
  }

  .contact-form {
    width: 540px;
    margin-top: 0 !important;

    @media #{$medium} {
      width: 440px;
    }

    @media #{$small, $xs} {
      width: 100%;
      float: none;
    }

    .form-group {

      > * {
        float: left;
      }

      .form-control {
        width: 388px;
        margin-right: 12px;

        @media #{$medium} {
          width: 300px;
        }

        @media #{$small} {
          width: 320px;
        }

        @media #{$xs} {
          float: none;
          width: 100%;
        }
      }

      .ej-btn {
        width: calc(100% - 400px);
        height: 44px;
        line-height: 44px;

        @media #{$medium} {
          width: calc(100% - 312px);
        }

        @media #{$small} {
          width: calc(100% - 332px);
        }

        @media #{$xs} {
          float: none;
          width: 100%;
          margin-top: 11px;
        }
      }
    }
  }

  > ul {
    margin: 0 0 0 0;
    width: calc(100% - 540px);
    text-align: right;

    @media #{$medium} {
      width: calc(100% - 440px);
    }

    @media #{$small, $xs} {
      width: 100%;
      float: none;
      margin-top: 12px;
    }

    li {
      float: right;
      line-height: 44px;
      height: 44px;
      padding: 0 14px;
      border-left: 1px solid $sidebar-border;

      @media #{$small, $xs} {
        float: left;
        border-right: 1px solid $sidebar-border;
        border-left: none;
        padding: 0 14px;
        line-height: 30px;
        height: 30px;
      }

      &:first-of-type {
        margin-right: 0;
        padding-right: 0;

        @media #{$small, $xs} {
          padding: 0 14px 0 0;
        }
      }

      &:last-of-type {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;

        @media #{$small, $xs} {
          padding: 0 0 0 14px;
          border-right: 0;
        }
      }

      a {
        @include proxima;
        color: $rss-links;
        text-transform: uppercase;
        font-size: 13px;

        &:hover {
          color: $rss-links-hover;

          .fa {
            color: $rss-links-hover;
          }
        }

        .fa {
          color: $footer-font-color;
          font-size: 16px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}