/***************************
****************************
Product Selection Page
****************************
***************************/

.order-page {
  .header {
    &.order-header {
      border-bottom: 1px solid $header-border;
    }

    &.product-overview {
      padding: 0;

      .products-home-slider {
        position: relative;
      }

      .header-product {
        padding: 45px 0;
        .img-wrapper {
          margin: 0;
        }

        h4 {
          background: none;
          padding: 0;
          margin: 25px 0;
          font-size: 18px;
        }

        .ej-btn {
          height: 40px;
          line-height: 36px;
          width: 119px;
          text-align: center;
          font-size: 15px;
        }
      }
    }
  }
}

.order-or {
  @include proxima;
  font-size: 15px;
  padding: 33px 0;
  border-top: 1px solid $header-border;
  text-align: center;
  color: white;
  text-transform: uppercase;
  line-height: 32px;
  font-weight: normal;
  position: relative;

  .ej-btn {
    height: 32px;
    line-height: 32px;
    padding: 0;
    width: 117px;
    text-align: center;
    font-size: 15px;
    margin-right: 10px;

    @media #{$xs} {
      width: 100%;
      margin: 0;
    }
  }

  .or {
    background-color: $nav-color;
    font-size: 13px;
    left: 50%;
    margin-left: -24px;
    padding: 0 16px;
    position: absolute;
    top: -16px;
  }
}

.order-section {
  > div {
    float: left;

    @media #{$small, $xs} {
      float: none;
      text-align: center;
    }

    &.img-wrapper {
      width: 80px;

      @media #{$small, $xs} {
        width: 100%;
        margin-bottom: 20px;
      }

      > span {
        @include icon-bordered(60px, transparent, $footer-font-color, 2px);
        color: $footer-font-color;
        font-size: 29px;

        .fa {
          @include vertical-align;
        }
      }
    }

    &.text-wrapper {
      width: calc(100% - 80px);

      @media #{$small, $xs} {
        width: 100%;
      }
    }
  }
}

/***************************
****************************
Order Quote Page
****************************
***************************/

.order-quote-page {
  .content-section {
    &:first-child {
      margin-bottom: 0;
      padding-bottom: 20px;
      border: none;
    }
  }
}

.quote-section {
  margin-bottom: 30px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.quote-item {
  border-bottom: 1px solid $quote-border;

  .title {
    line-height: 42px;
    height: 42px;

    > p {
      margin: 0;
      float: left;
    }

    .toggler {
      @include toggler;
      float: right;
    }
  }
}

.perfino-option,
.jprofiler-option,
.quote-item {
  .options {
    background-color: $news-section;
    padding: 0 15px;

    .option {
      padding: 11px 0;
      border-bottom: 1px solid $quote-border;

      &:last-of-type {
        border-bottom: none;
      }

      .text-wrapper {
        float: left;

        p {
          font-size: 12px;
          margin: 0;
          line-height: 16px;
        }
      }

      .controls {
        float: right;

        > * {
          float: left;
          margin-left: 7px;

          &:first-child {
            margin-left: 0;
          }
        }

        .form-control {
          height: 32px;
          width: 52px;
          border-radius: 25px;
          vertical-align: middle;
          text-align: center;
        }
      }
    }
  }
}

/***************************
****************************
FAQ's Page
****************************
***************************/

.content-section {
  .faq-section {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }

    > * {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .site-subtitle {
      &.icon {
        height: auto;
        line-height: normal;
        margin-bottom: 30px;
        padding-bottom: 30px;
        padding-left: 0;
      }
    }

    .send-address {
      margin-top: 10px;
    }
  }
}

.faq {
  border-bottom: 1px solid $content-section-border;
  padding-bottom: 20px;

  &:last-of-type {
    @include reset-last;
  }

  > div {
    float: left;

    @media #{$xs} {
      float: none;
    }

    &.title-wrapper {
      width: 160px;

      @media #{$xs} {
        width: 100%;
      }

      > * {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.text-wrapper {
      width: calc(100% - 160px);

      @media #{$xs} {
        width: 100%;
      }

      > * {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

/***************************
****************************
Order Perfino Page
****************************
***************************/

.order-perfino-page {
  .order-controllers {
    margin-bottom: 15px;
  }

  .disclaimer {
    margin-top: 30px;
  }
}

.order-controllers {
  padding: 12px 0;
  line-height: 39px;
  border-bottom: 1px solid $quote-border;

  > * {
    float: left;

    @media #{$xs} {
      float: none;
    }
  }

  p {
    line-height: 18px;
    margin: 0;
    width: calc(100% - 201px);

    @media #{$xs} {
      width: auto;
      margin-bottom: 20px;
    }

    @media #{$small} {
      padding-right: 13px;
    }
  }

  .selector {
    width: 201px;
    padding-left: 13px;
    border-left: 1px solid $quote-border;

    @media #{$xs} {
      width: auto;
      padding-left: 0;
      border: none;
    }

    > * {
      float: left;
    }

    > span {
      margin-right: 13px;
      line-height: 42px;
      height: 39px;
    }

    .caret {
      top: 18px;
    }
  }
}

.perfino-options,
.jprofiler-options {
  .perfino-option,
  .jprofiler-option {

    .title {
      line-height: 66px;
      border-bottom: 1px solid $nav-color;
    }

    .site-subtitle {
      line-height: 66px;
      float: left;
      margin: 0;
    }

    .toggler {
      @include toggler;
      float: right;
    }

    .description {
      padding: 19px 0;

      > div {
        float: left;

        &.icon-wrapper {
          width: 54px;
        }

        &.text-wrapper {
          width: calc(100% - 54px);
        }
      }
    }

    .options {
      .option {
        @media #{$xs} {
          > * {
            float: left;
          }
        }

        .text-wrapper {
          @media #{$xs} {
            width: calc(100% - 98px);
            padding-right: 13px;
          }

          p {
            line-height: 31px;
            margin: 0;

            @media #{$xs} {
              line-height: 15px;
            }
          }
        }

        .controls {
          @media #{$xs} {
            width: 98px;
          }

          > * {
            float: left;
            line-height: 31px;
          }

          > span {
            margin-right: 29px;
            text-align: right;

            @media #{$xs} {
              display: none;
            }
          }

          .ej-btn {
            height: 31px;
            line-height: 29px;
            padding: 0 22px;
            margin: 0;

            @media #{$xs} {

            }
          }
        }
      }
    }
  }
}

/***************************
****************************
Order JProfiler Page
****************************
***************************/

.jprofiler-options {
  .jprofiler-option {
    .options {
      .option {
        .text-wrapper {
          @media #{$small} {
            float: left;
            width: calc(100% - 225px);
          }

          p {
            @media #{$small} {
              line-height: 18px;
            }
          }
        }
        .controls {
          @media #{$small} {
            width: 225px;
            float: left;
          }

          > span {
            line-height: 15px;
            text-align: left;

            a {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}