/***************************
****************************
Sidebar Styles
****************************
***************************/

.sidebar {
  @media #{$small, $xs} {
    margin-bottom: 45px;
  }

  .widget {
    margin-bottom: 23px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.inner {
    .site-title {
      background: url("../images/sep-5.png") no-repeat 0 100%;
      padding-bottom: 18px;
      margin-bottom: 19px;

      .fa {
        color: $footer-font-color;
        font-size: 16px;
        margin-right: 4px;
      }

      span {
        display: inline;
        float: none;
      }
    }
  }
}

.widget {
  border-bottom: 1px solid $sidebar-border;
  padding: 14px 0;

  &.award {
    border: 1px solid $sidebar-border;
    padding: 14px 10px;

    .img-wrapper {
      width: 75px;
      text-align: center;
      float: left;
      margin-right: 15px;
    }

    .text {
      h6 {
        @include small-title;
        margin-bottom: 15px;
      }
    }
  }

  &.versions {
    padding-top: 0;

    .version-item {
      margin-bottom: 27px;

      &:last-of-type {
        @include reset-last;
      }
    }
  }
}