.product-live-demo-page {
  .content-section {
    &:first-child {
      margin-bottom: 0;
      padding-bottom: 20px;
      border: none;
    }
  }
}

.demo-section {
  position: relative;

  .ej-btn {
    padding: 0;
    width: 195px;
    text-align: center;
    line-height: 49px;
    height: 49px;
    font-size: 15px;

    position: absolute;
    right: 0;
    bottom: 50%;
    margin-bottom: -25px;

    @media #{$small, $xs} {
      position: static;
      right: auto;
      bottom: auto;
      margin: 0;
    }

    span {
      font-size: 25px;
      margin-right: 4px;
      padding-top: 5px;
      vertical-align: middle;
    }
  }

  &.image-gallery {
    margin: 0 -8px;

    @media #{$xs} {
      margin: 0;
    }
  }
}